**
!package.json
!package-lock.json
!LICENSE
!NOTICE
!COMMERCIAL-LICENSE.md
!apps/
!apps/server/
!apps/server/**
!apps/web/
!apps/web/**
!packages/
!packages/contracts/
!packages/contracts/**
**/.env
**/.env.*
**/*.key
**/*.pem
**/*.p12
**/*.pfx
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/bridge.json
**/device-credential.json
**/dist
**/node_modules
**/var
